body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial;
}
.content{
  width: 600px;
  height: auto;
  margin: 0 auto;
}
h1{
  text-align: center;
}
table {
  border-collapse: collapse;
  font-size: 16px;
}

table, td, th {
  border: 1px solid black;
}
tfoot{
  color: red;
  text-align: right;
}
input{
  border: transparent;
  font-size: 16px;
  text-align: right;
  width: 70px;
}
.th1{
  width: 250px;
}
.th2{
  width: 150px;
}
.th3{
  width: 70px;
}
.th4{
  width: 130px;
}
a{
  display: block;
  margin-top: 50px;
  float: left;
}
.btn-pay{
  display: block;
  float: right;
  margin-top: 20px;
}
.tbody-price, .tbody-quantity, .tbody-total{
  text-align: right;
}
