<h2>Member Detail</h2>
<table class="table">
  <tr>
    <th>Name</th>
      <td>
        <span *ngIf="array_members[value]">
          {{array_members[value].name}}
        </span>
      </td>
  </tr>
  <tr>
    <th>Full Name</th>
    <td>
      <span *ngIf="array_members[value]">
        {{array_members[value].fullName}}
      </span>
    </td>
  </tr>
  <tr>
    <th>Position</th>
    <td>
      <span *ngIf="array_members[value]">
        {{array_members[value].position}}
      </span>
    </td>
  </tr>
</table>
